@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 4.8rem;
  }

  html {
    @apply bg-background font-sans text-off-white;
    font-size: 62.5%;
  }
}

@layer components {
  .lii {
    @apply cursor-pointer text-[14px] font-medium transition-[color,opacity] duration-300 hover:text-grey;
  }
  .button-login {
    @apply h-8 px-4 text-[14px] font-medium;
  }
  .button-signup {
    @apply hover:text-shadow px-[12px] h-[32px] font-semibold rounded-full bg-primary-gradient px-4 text-[14px] transition-all hover:shadow-primary duration-1000;
  }
  .ull {
    @apply mt-10 flex min-w-[50%] w-1/2 flex-col lg:mt-0 lg:min-w-[12rem] [&_ul]:first:text-background;
  }
  .ulheader {
    @apply mb-3 bg-white font-medium;
  }
  .ullast {
    @apply bg-white;
  }
  .lilink {
    @apply mb-3 block cursor-pointer text-grey transition-all hover:text-off-white;
  }
  .alink {
    @apply mb-3 block text-grey transition-colors hover:text-off-white;
  }
  .svgdiv {
    @apply flex items-center w-full justify-center;
  }
  .bdclass {
    @apply h-full w-full bg-[#000212] text-[#f7f8f8];
  }
  .gridbg {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }
  .gridbefore {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.07)
    );
  }
  .bgdata {
    background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='72' height='72' rx='36' fill='%238B62FF4D' fill-opacity='0.3'/%3E%3Crect x='.25' y='.25' width='71.5' height='71.5' rx='35.75' stroke='url(%23a)' stroke-opacity='.2' stroke-width='1'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='36' y1='0' x2='36' y2='90' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  }
  .gridbeforemask {
    @apply [mask-image:linear-gradient(black,_black)_content-box_content-box,linear-gradient(black,_black)];
  }
  .gridbeforemaskcom {
    @apply [mask-composite:xor];
  }
  .gridcols {
    @apply relative flex min-h-[480px] flex-col items-center justify-end overflow-hidden rounded-[48px] p-[56px];
  }
  .gridcol1 {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.05) 100%
    );
  }
  .animBack {
    background-image: linear-gradient(
      90deg,
      rgb(21, 11, 48) 0%,
      rgb(91, 57, 184) 100%
    );
  }
  .animLine {
    background-image: linear-gradient(
      270deg,
      #9d9bf2 0.43%,
      #7877c6 14.11%,
      rgba(120, 119, 198, 0) 62.95%
    );
  }
  .animLineY {
    background-image: linear-gradient(
      180deg,
      #9d9bf2 0.43%,
      #7877c6 14.11%,
      rgba(120, 119, 198, 0) 62.95%
    );
  }
  .gridcol1before {
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.07)
    );
  }
  .gridcol1beforemask {
    @apply [mask-image:linear-gradient(black,_black)_content-box_content-box,linear-gradient(black,_black)];
  }
  .gridcol1beforemaskcom {
    @apply [mask-composite:xor];
  }
  .keybg {
    @apply [mask-image:linear-gradient(transparent_0%,rgba(0,_0,_0,_0.57)_33.98%,black_100%)];
  }
  .keyboardmask {
    @apply [mask-image:linear-gradient(to_right,transparent,black_40%,black_calc(60%),transparent_100%)];
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
  }

  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }

  .mask-radial-faded {
    mask-image: radial-gradient(
      circle at center center,
      black,
      transparent 80%
    );
  }

  .mask-linear-faded {
    mask-image: linear-gradient(black, transparent 70%);
  }

  .mask-keyboard {
    mask-image: linear-gradient(
      transparent 0%,
      rgba(0, 0, 0, 0.57) 33.98%,
      black 100%
    );
  }

  .mask-shortcutkeys {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 40%,
      black calc(60%),
      transparent 100%
    );
  }
}
